:root {
	--primary-color:#265911;
	--light-color:#FFFFFF;
	
}

body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	color: var(--primary-color);
	letter-spacing: .05em;
}
h1{
	font-weight: 600 !important;
}

.text-light {color: var(--light-color);}

.bg-primary{ background-color: var(--primary-color)!important }

.navbar{
	min-height: :600px;
	background-color: #0F4301 !important;
}

.navbar-txt{
	color: white;
	font-weight: 200;
}


.nav-link{
	color: var(--light-color);
}

.logo{
	min-width: 50px;
	max-width: 50px;
}

ion-icon {
  color: white;

}

a:hover{
	color: var(--light-color);
	opacity: .9;
	text-decoration: none;
}


section {
	padding: 100px 0;
}

#hero i{
	font-size: 26px;
}

.btn{
	font-weight: 600;
	padding: 12px 35px;
}

.btn-secondary{
	background-color:#ACACAC;
	color:#FFFFFF;
	border: 1px solid #00BB88;
}

.btn-secondry.hover{
	background-color: #ACACAC;
	border: 1px solid #ACACAC;
}


.img-principal {
	width: 550px;
	height:300px;
	border: 10px soid white;
	border-radius: 2px;
	box-shadow: -10px 10px 00 #0E3804;
}


.heading-title{
	max-width: 800px;
}

.img-campismo{
	width: 550px;
	height:450px;
}
.img-alpinismo{
	width: 550px;
	height:450px;
}
.actividades-txt{
	color: #393939
}